.div1{
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    margin-top: px;
    padding: 10px 70px;
    
    
}

.div2{
    /* margin: 15px; */
    margin-bottom: 30px;
    padding: 15px;
    font-size:x-large;
}

.div3{
    margin-left: -60px;
    margin-top: 10px;
    display: inline;
    font-family: Cairo;
    color: #2995E2;
}

.div4 li{
    display: inline;
    justify-content: center;
    font-family: Cairo;
    font-size: large;
    color:black;
    padding-right: 45px;
    margin-top: 15px;

}

.div5{
padding: 15px;
border-radius: 2px;
}

.div6{
    display: flex;
    display: inline-block;
    padding: 50px;
    padding-left: 110px;  
}

.div9{
    margin-top:-40px;
    margin-bottom: 40px;
}

.div8 p{
    font-family: Cairo;
    font-size: 60px;
    margin-top: -30px;
}

.div8 span{
    font-family: Cairo;
    font-size: 60px;
    color: #2995E2;
}

.div8a p{
    font-family: Cairo;
    font-size: 60px;
    margin-top: -80px;
}

.div8a span{
    font-family: Cairo;
    font-size: 60px;
    color: #2995E2;
}


.div10{
    font-family: Cairo;
    font-size: 15px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:rgba(0, 106, 255, 0.74);
    border-color:rgba(0, 106, 255, 0.74);

}


.div11{
    font-family: Cairo;
    font-size: 15px;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    border-color: white;
}


.div12{
    padding-top: 50px;
    padding-right: 110px;
    float: right;
}

.unto{
    display: flex;
    /* justify-content: center; */
    padding-left: 250px;
    padding-top: 50px;
    margin-left: 120px;
}

.div14{
    font-family: Cairo;
    font-size: 15px;
    text-align: center;
}

.into{
    display: flex;
    justify-content: center;
    padding-left: 10px;

}

.div15{
    font-family:serif
}

.div16{
    display: flex;
    justify-content: center;
    padding-left: 200px;

}

.div17{
    font-family: Cairo;
    font-size: 20px;
    color: rgba(0, 106, 255, 0.74);
    padding-left: 25px;

}

.div18{
    font-family: serif;
    padding-left: 25px;


}

.div19{
    display: flex;
    display: inline-block;
    padding: 50px;
    padding-left: 20px;

}

.div20{
    font-family: Cairo;
    font-size: 12px;
    
}

.div21{
    font-family: Cairo;
    
}

.div22{
    font-family: Cairo;
    font-size: 15px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:rgba(0, 106, 255, 0.74);
    border-color: rgba(0, 106, 255, 0.74);

    
}

.div23{
    padding-right: 110px;
    float: right;
    
}

.div24{
    display: flex;
    display: inline-block;
    padding: 50px;
    padding-right: 250px;

}

.div25{
    font-family: Cairo;
    font-size: 12px;
    
}

.div26{
    font-family: Cairo;
}

.div27{
    font-family: Cairo;
    font-size: 15px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:rgba(0, 106, 255, 0.74);
    border-color: rgba(0, 106, 255, 0.74);
}

.div28{
    padding-left: 70px;
    float: left;
}

.div29{
    display: flex;
    display: inline-block;
    padding: 50px;
    padding-left: 20px;
}

.div30b{
    font-family: Cairo;
    font-size: 28px;
    font-weight: 700;
    line-height: 52.47px;
    text-align: left;     
}

.div31{
    font-family: Cairo;
}

.div32{
    font-family: Cairo;
    font-size: 15px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:rgba(0, 106, 255, 0.74);
    border-color: rgba(0, 106, 255, 0.74);
}

.div33{
    padding-left: 630px;
    float: right;
    margin-top: -220px;
    margin-left: 90px;
}

#box {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.rectangle{
    display: flex;
    width: 1148px;
    height: 323px;
    top: 2790px;
    left: 146px;
    gap: 0px;
    border: 12px 0px 0px 0px;
    opacity: 0px; 
    background-color: #2995E2;   
}

.div34{
    width: 457px;
    height: 313px;
    margin-top: 100px;
    margin-left: 100px;
    left: 234px;
    gap: 0px;
    opacity: 0px;
}

.special{
    width: Hug (286px)px;
    height: Hug (209px)px;
    top: 2852px;
    left: 831px;
    gap: 18px;
    opacity: 0px;
}

.special p{
    width: 386px;
    height: 132px;
    gap: 0px;
    opacity: 0px;
    font-family: Cairo;
    font-size: 35px;
    font-weight: 700;
    line-height: 65.59px;
    text-align: left;
    margin-left: 80px;
    margin-top: 95px;
    color: #FFFFFF;
}


.div35{
    font-family: Cairo;
    font-size: 15px;
    color: rgb(12, 12, 12);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:#FFFFFF;   
    border-color: rgba(0, 106, 255, 0.74);
    margin-left: 80px;
}



#container{
    display: flex;
    width: 1180px;
    height: 500px;
    gap: 10px;
    /* border-width: 3px;
    border-style: solid;
    border-color: #2995E2; */
    opacity: 0px;    
    margin-top: 120px;
    margin-left: 20px;
}

 .inner-box{
    /* display: flex; */
    width: 1140px;
    height: 460px;
    opacity: 0px;
    margin:20px;
}

.formhead1 {
    width: 306px;
    height: 47px;
    display: block;
    opacity: 1; 
    font-family: Cairo;
    font-size: 25px;
    font-weight: 700;
    line-height: 46.85px;
    text-align: left;
}

.formhead2 {
    width: 652px;
    height: 36px;
    display: block; 
    opacity: 1;
    font-family: Cairo;
    font-size: 19px;
    font-weight: 600;
    line-height: 35.61px;
    text-align: left;
}

.textbox{
    width: 1140px;
    height: auto;
    gap: 32px;
    opacity: 0px;
}

.recbox1 {
    width: 1140px;
    height: auto;
    display: flex;
    justify-content: space-between;
    gap: 38px;
    margin-top: 30px;
}

#textbox1 {
    display: flex;
    flex-direction: row;
    width: 530px;
    gap: 46px;
    opacity: 1;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 530px;
}

.input-group span {
    margin-bottom: 15px;
}

.input-group input {
    width: 530px;
    height: 65px;
    padding: 0px 0px 0px 17px;
    border: 1px solid #999999;
    opacity: 1; 
}

.input-group select {
    width: 530px;
    height: 65px;
    padding: 0px 0px 0px 17px;
    border: 1px solid #999999;
    opacity: 1; 
}

.formButton{
    height: 45px;
    font-family: Cairo;
    font-size: 15px;
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:#2995E2;  
    border-color: rgba(0, 106, 255, 0.74);
    margin-left: 300px;
    margin-right: 300px;
    width: 540px;
    margin-top: 62px;
}



#foot-container{
    display: flex;
    width: 1180px;
    height: 300px;
    gap: 10px;
    opacity: 0px;    
    margin-top: 90px;
    margin-left: 20px;
}

.footer-leftbox{
    width: 193.94px;
    height: 133px;
    gap: 15px;
    opacity: 0px;
    margin-top: 30px;
    margin-left: 15px;
}

.div36{
    margin-left: -15px;
    margin-bottom: 30px;
    padding: 15px;
    font-size:x-large;
}

.div37 p{
    margin-left: 40px;
    margin-top: -30px;
    font-size: 18px;
    font-family: Cairo;
    color: #2995E2;
}

.div38{
    width: 166px;
    height: 72px;
    gap: 0px;
    opacity: 0px;
}

.div38 p{
    font-family: Cairo;
    margin-top: -55px;
    font-size: 17px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;    
}

.div38 p span{
    color: #2995E2;
}

.footer-rightbox{
    display: flex;
    width: 580px;
    height: 240px;
    gap: 15px;
    opacity: 0px;
    margin-top: 30px;
    margin-left: 380px;
}

.service{
margin-left: 5px;
}

.info{
margin-left: 90px;
}

.office{
    margin-left: 90px;
}

.services #serve{
    font-family: Cairo;
    font-size: 18px;
    font-weight: bold;
}

.info #inf{
    font-family: Cairo;
    font-size: 18px;
    font-weight: bold;
}

.office #offi{
    font-family: Cairo;
    font-size: 18px;
    font-weight: bold;
}



#centre-alignment{
    margin-top:30px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;    
    border: 1px solid #C9C9C9
}


#base-contanier{
    display: inline-block;
    width: 1180px;
    height: 25px;
    opacity: 0px;    
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 5px;;

}

.base-left p{
    font-family: Cairo;
    font-size: 16px;
    font-weight: 500;
    line-height: 29.98px;
    text-align: left;
    color: #878787; 
    float: left; 
    margin-top: auto;
}

.base-right p{
    font-family: Cairo;
    font-size: 16px;
    font-weight: 500;
    line-height: 29.98px;
    text-align: right;
    color: #878787;
    float:right;
    margin-top: auto;
}

.base-right span{
    font-family: Cairo;
    font-size: 16px;
    font-weight: 700;
    line-height: 29.98px;
    text-align: left;   
    color: #2995E2;
}



