.div1{
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    margin-top: px;
    padding: 10px 70px;
    
    
}

.div2{
    margin: 15px;
    padding: 15px;
    font-size:x-large;
}

.div3{
    margin: 15px;
    display: inline;
    font-family: sans-serif;
    color: rgba(0, 72, 255, 0.685);
}

.div4 li{
    display: inline;
    justify-content: center;
    font-family: sans-serif;
    font-size: large;
    color:black;
    padding-right: 45px;
    margin-top: 15px;

}

.div5{
padding: 15px;
border-radius: 20px;

}

.div6{
    display: flex;
    display: inline-block;
    padding: 50px;
    padding-left: 110px;
    


    
}

.div8{
    font-family: sans-serif;
    font-size: 20px;
}

.div10{
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:rgba(0, 106, 255, 0.74);
    border-color:rgba(0, 106, 255, 0.74);

}


.div11{
    font-family: sans-serif;
    font-size: 15px;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    border-color: white;


}


.div12{
    padding-top: 50px;
    padding-right: 110px;
    float: right;
    

}

.unto{
    display: flex;
    justify-content: center;
    padding-left: 250px;
    padding-top: 50px;
}

.div14{
    font-family: sans-serif;
    font-size: 15px;
}

.into{
    display: flex;
    justify-content: center;
    padding-left: 10px;

}

.div15{
    font-family:serif
}

.div16{
    display: flex;
    justify-content: center;
    padding-left: 200px;

}

.div17{
    font-family: sans-serif;
    font-size: 20px;
    color: rgba(0, 106, 255, 0.74);
    padding-left: 25px;

}

.div18{
    font-family: serif;
    padding-left: 25px;


}

.div19{
    display: flex;
    display: inline-block;
    padding: 50px;
    padding-left: 20px;

}

.div20{
    font-family: sans-serif;
    font-size: 12px;
    
}

.div21{
    font-family: sans-serif;
    
}

.div22{
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:rgba(0, 106, 255, 0.74);
    border-color: rgba(0, 106, 255, 0.74);

    
}

.div23{
    padding-right: 110px;
    float: right;
    
}

.div24{
    display: flex;
    display: inline-block;
    padding: 50px;
    padding-right: 250px;

}

.div25{
    font-family: sans-serif;
    font-size: 12px;
    
}

.div26{
    font-family: sans-serif;
}

.div27{
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:rgba(0, 106, 255, 0.74);
    border-color: rgba(0, 106, 255, 0.74);
}

.div28{
    padding-left: 70px;
    float: left;
}

.div29{
    display: flex;
    display: inline-block;
    padding: 50px;
    padding-left: 20px;
}

.div30b{
    font-family: Cairo;
    font-size: 28px;
    font-weight: 700;
    line-height: 52.47px;
    text-align: left;     
}

.div31{
    font-family: sans-serif;
}

.div32{
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:rgba(0, 106, 255, 0.74);
    border-color: rgba(0, 106, 255, 0.74);
}

.div33{
    padding-left: 630px;
    float: right;
    margin-top: -220px;
    margin-left: 90px;
}

#box {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.rectangle{
    display: flex;
    width: 1148px;
    height: 323px;
    top: 2790px;
    left: 146px;
    gap: 0px;
    border: 12px 0px 0px 0px;
    opacity: 0px; 
    background-color: #2995E2;   
}

.div34{
    width: 457px;
    height: 313px;
    margin-top: 100px;
    margin-left: 100px;
    left: 234px;
    gap: 0px;
    opacity: 0px;
}

.special{
    width: Hug (286px)px;
    height: Hug (209px)px;
    top: 2852px;
    left: 831px;
    gap: 18px;
    opacity: 0px;
}

.special p{
    width: 386px;
    height: 132px;
    gap: 0px;
    opacity: 0px;
    font-family: Cairo;
    font-size: 35px;
    font-weight: 700;
    line-height: 65.59px;
    text-align: left;
    margin-left: 80px;
    margin-top: 95px;
}


.div35{
    font-family: sans-serif;
    font-size: 15px;
    color: rgb(12, 12, 12);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:#FFFFFF;   
    border-color: rgba(0, 106, 255, 0.74);
    margin-left: 80px;
}

#container{
    display: flex;
    width: 1180px;
    height: 500px;
    gap: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: #2995E2;
    opacity: 0px;    
    margin-top: 120px;
    margin-left: 20px;
}

 .inner-box{
    /* display: flex; */
    width: 1140px;
    height: 460px;
    opacity: 0px;
    border-width: 3px;
    border-style: solid;
    border-color: #2995E2;
    margin:20px;
}

.formhead1 {
    width: 306px;
    height: 47px;
    display: block;
    opacity: 1; 
    font-family: Cairo;
    font-size: 25px;
    font-weight: 700;
    line-height: 46.85px;
    text-align: left;
}

.formhead2 {
    width: 652px;
    height: 36px;
    display: block; 
    opacity: 1;
    font-family: Cairo;
    font-size: 19px;
    font-weight: 600;
    line-height: 35.61px;
    text-align: left;
}

.textbox{
    width: 1140px;
    height: 531px;
    gap: 32px;
    opacity: 0px;
    border-width: 3px;
    border-style: solid;
    border-color: #2995E2;  
}

.recbox1 {
    width: 1140px;
    height: auto;
    display: flex;
    justify-content: space-between;
    gap: 38px;
    border-width: 2px;
    border-style: solid;
    border-color: #2995E2;  
}

#textbox1 {
    display: flex;
    flex-direction: row;
    width: 530px;
    gap: 46px;
    opacity: 1;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 530px;
}

.input-group span {
    margin-bottom: 15px;
}

.input-group input {
    width: 530px;
    height: 65px;
    padding: 0px 0px 0px 17px;
    border: 1px solid #999999;
    opacity: 1; 
}
